<tr>
    <td>
        <table style="width: 100%; background: #EFEFEF; border-collapse: collapse;">
            <tr>
                <td align='center' style=" padding: 30px 50px 0px;">
                    <div
                        style="
                        display: flex;
                        justify-Content: space-between;
                        align-Items: center;
                        "
                    >
                    <a href="javascript:void(0)">
                        <img src="<%= DOMAIN.CLOUDSTORAGE_DOMAIN %>/platform/icons/logo.svg" alt="Logo">
                    </a>                                
                        <div
                        style="
                        display: flex;
                        justify-Content: space-between;
                        align-Items: center;
                        gap:10px;
                        "
                    >
                            <a href="<%=  %>"><img src="<%= DOMAIN.CLOUDSTORAGE_DOMAIN %>/platform/icons/facebook-icon.png" alt="Facebook" width="24"></a>
                            <a href="javascript:void(0)"><img src="<%= DOMAIN.CLOUDSTORAGE_DOMAIN %>/platform/icons/twitter-icon.png" alt="Twitter" width="24"></a>
                            <a href="javascript:void(0)"><img src="<%= DOMAIN.CLOUDSTORAGE_DOMAIN %>/platform/icons/linkedin-icon.png" alt="LinkedIn" width="24"></a>
                            <a href="javascript:void(0)"><img src="<%= DOMAIN.CLOUDSTORAGE_DOMAIN %>/platform/icons/instagram-icon.png" alt="Instagram" width="24"></a>
                            <a href="javascript:void(0)"><img src="<%= DOMAIN.CLOUDSTORAGE_DOMAIN %>/platform/icons/youtube-icon.png" alt="YouTube" width="24"></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" style="padding: 20px 50px 30px;">
                    <p style="font-size: 14px; color: #8B8B8B; font-weight: 400; margin: 0; line-height: 24px;">
                        Copyright © 2025 | All rights reserved by <b style="font-weight: 500;"><a href="javascript:void(0)" style="color: #171717; text-decoration: none;"> <%= PLATFORM_NAME %></a></b>
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>